
@import "tailwindcss";


body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #050816;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
body {
  margin: 0;
  background-color: #0f172a; /* dark background */
  color: white;
}